<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Flavor</key>
		<string>Vanilla</string>
		<key>Quantity</key>
		<string>5</string>
	</dict>
	<dict>
		<key>Flavor</key>
		<string>Chocolate</string>
		<key>Quantity</key>
		<string>4</string>
	</dict>
</array>
</plist>
